doctype html
html(lang="zh-cmn-Hans")
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
		meta(name="format-detection", content="telephone=no")
		meta(http-equiv="x-dns-prefetch-control", content="on")
		title index
	body
		h1 index
		ol
			each val in htmlWebpackPlugin.options.pages
				- val = val.replace(/\.pug$/, '.html')
				li
					a(href='html/' + val, target="blank") #{val}