- var out = htmlWebpackPlugin.options.mock;
doctype html
html(lang="en")
	head
		title= out.title 
		script.
			console.log("hi");
		body
			p.greeting= out.module.content
			ul
				each item in out.module.list
					li #{item.name}